body {
  background: rgb(168, 218, 220);
  background: linear-gradient(
    90deg,
    rgba(168, 218, 220, 1) 53%,
    rgba(241, 250, 238, 1) 100%
  );
}

.login {
  background-image: url(./login.gif);
  padding: 40px;
  width: 50vw;
  height: 50vh;
  border: 2px solid black;
}
.login button {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 15px;
}

.login input {
  margin: 10px;
}

.story {
  width: 80vw;
  height: 50vh;
}
